# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pro
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playground
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
.build/
.swiftpm/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies
# Carthage/Checkouts

Carthage/Build

# Accio dependency management
Dependencies/
.accio/

# fastlane
#
# It is recommended to not ignore the screenshots in the fastlane directory
# however, if just want to relax, define smart ignore rules for the fastlane folder
#
# fastlane/report.xml
# fastlane/Preview.html
# fastlane/screenshots
# fastlane/test_output

# Code Injection
#
# After new code Injection tools there are generated some files / folders
# iOSInjectionProject/
# macOSInjectionProject/

# CocoaPods
Pods/
